:root,
:root.light {
  --bg: #ffffff;
  --fg: #000000;
  --accent: #003d73;
  font-size: 16px;
  font-weight: 400;
}

:root.dark {
  --bg: #000000;
  --fg: #ffffff;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
}

body > main {
  height: 100%;
  overflow: hidden;
}

svg {
  fill: currentColor;
}

button {
  color: var(--fg);
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.header__logo {
  height: 2rem;
}

.header__cartbtn {
  position: relative;
}

.header__cart {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.75rem 0.75rem 0 0;
}

.header__cartcount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.875rem;
  line-height: 1.25em;
  height: 1.25em;
  width: 1.25em;
  background: var(--bg);
  color: var(--accent);
  font-weight: bold;
  border: 2px solid var(--accent);
  border-radius: 9999px;
}

.menu {
  width: 100%;
  margin-top: -3rem;
}

.category {
  width: 100%;
  margin-top: 3rem;
  display: inline-block;
}

.category.category--featured {
  border: 2px solid var(--accent);
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-top: 3.6rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  position: relative;
}

.category__title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--accent);
}

.category--featured .category__title {
  position: absolute;
  top: -0.6rem;
  left: 0.5rem;
  padding: 0 0.5rem;
  background: var(--bg);
}

.category__description {
  font-size: 0.75rem;
  line-height: 2;
}

.category__list {
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.menuitem {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "image image image"
    "title price cart"
    "description description description";
  margin-bottom: 0.25rem;
  align-items: center;
}

.menuitem__title,
.menuitem__price,
.menuitem__description {
  margin: 0;
}

.menuitem__image {
  grid-area: image;
  width: 100%;
  justify-self: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.menuitem__title,
.menuitem__price {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
}

.menuitem__title {
  grid-area: title;
  text-transform: uppercase;
}

.menuitem__price {
  grid-area: price;
  color: var(--accent);
}

.menuitem__description {
  grid-area: description;
  line-height: 1.5;
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
}
.menuitem__description:empty {
  display: none;
}
.menuitem:last-of-type .menuitem__description {
  margin-bottom: 1rem;
}

.menuitem__cartbtn {
  grid-area: cart;
  margin: 0 -0.5rem 0 0;
  padding: 0.5rem;
  cursor: pointer;
}

.menuitem__cart {
  height: 1.25rem;
  width: 1.25rem;
}

@media (min-width: 640px) {
  .menu {
    columns: 2;
    column-gap: 3rem;
    margin-top: -6rem;
  }

  .category {
    margin-top: 6rem;
  }
  .category.category--featured {
    margin-top: 6.6rem;
  }
}

@media (min-width: 756px) {
  .header__logo {
    height: 3rem;
  }
}

@media (min-width: 1024px) {
  .menu {
    columns: 3;
    column-gap: 5rem;
  }
}
