<header class="header">
    <img class="header__logo" alt="Délicious" src="/icons/brand.svg"/>

    <button class="header__cartbtn snipcart-checkout">
        <img class="header__cart" src="/icons/cart.svg" alt="open cart" />
        <span class="snipcart-items-count header__cartcount">0</span>
    </button>
</header>
